<div class="card">
    <div class="card-body">
        <h5>Filtros</h5>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <div class="row">
            <div class="col filter-title mt-2 mb-2" (click)="toggleFilterName()">
                <i class="icon-search mr-1"></i>
                Nombre de hotel
                <i class="float-right" [ngClass]="{ 'icon-arrow-up': showFilterName, 'icon-arrow-down': !showFilterName }"></i>
            </div>
        </div>
        <form [hidden]="!showFilterName">
            <div class="row">
                <div class="col-md-12 col-lg-9 mt-2">
                    <input type="text" name="name" class="form-control form-control-sm" placeholder="Ingrese el nombre del hotel" [(ngModel)]="filters.name">
                </div>
                <div class="col mt-2">
                    <button type="button" class="btn btn-primary btn-sm" (click)="filter()">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card mt-1">
    <div class="card-body">
        <div class="row">
            <div class="col filter-title mt-2 mb-2" (click)="toggleFilterStar()">
                <i class="icon-star mr-1"></i>
                Estrellas
                <i class="float-right" [ngClass]="{ 'icon-arrow-up': showFilterStar, 'icon-arrow-down': !showFilterStar }"></i>
            </div>
        </div>
        <div class="row" [hidden]="!showFilterStar">
            <ul class="list-group list-group-flush star-filter">
                <li class="list-group-item">
                    <input type="checkbox" [checked]="starsSelected.length === 0" [disabled]="starsSelected.length === 0" (change)="selectAllStars($event)">
                    Todas las estrellas
                </li>
                <li class="list-group-item" *ngFor="let i of ArrayType(maxStars).fill(1); index as value">
                    <input type="checkbox" (change)="setFilterStars($event, (value + 1))" [checked]="hasSelected(value + 1)">
                    <i class="icon-star yellow" *ngFor="let j of ArrayType(value + 1).fill(1)"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
