@font-face {
    font-family: 'icomoon';
    src:  url('./../fonts/icomoon.eot?jfwa9s');
    src:  url('./../fonts/icomoon.eot?jfwa9s#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?jfwa9s') format('truetype'),
    url('./../fonts/icomoon.woff?jfwa9s') format('woff'),
    url('./../fonts/icomoon.svg?jfwa9s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e900";
}
.icon-arrow-up:before {
    content: "\e901";
}
.icon-bathrobes:before {
    content: "\e902";
    color: #59595c;
}
.icon-bathtub:before {
    content: "\e903";
    color: #595858;
}
.icon-beach:before {
    content: "\e904";
    color: #595858;
}
.icon-beach-pool-facilities:before {
    content: "\e905";
    color: #595858;
}
.icon-business-center:before {
    content: "\e906";
    color: #595858;
}
.icon-children-club:before {
    content: "\e907";
    color: #595858;
}
.icon-coffe-maker:before {
    content: "\e908";
    color: #595858;
}
.icon-deep-soaking-bathtub:before {
    content: "\e909";
    color: #595858;
}
.icon-fitness-center:before {
    content: "\e90a";
    color: #5a5a5d;
}
.icon-garden:before {
    content: "\e90b";
    color: #595858;
}
.icon-kitchen-facilities:before {
    content: "\e90c";
    color: #595858;
}
.icon-newspaper:before {
    content: "\e90d";
    color: #595858;
}
.icon-nightclub:before {
    content: "\e90e";
    color: #59595c;
}
.icon-restaurant:before {
    content: "\e90f";
    color: #595858;
}
.icon-safety-box:before {
    content: "\e910";
    color: #59595c;
}
.icon-search:before {
    content: "\e911";
}
.icon-separate-bredroom:before {
    content: "\e912";
    color: #595858;
}
.icon-sheets:before {
    content: "\e913";
    color: #59595c;
}
.icon-star:before {
    content: "\e914";
}
